.menuLateral {
  background-color: #002c69;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}

.menuLateral img {
  width: 100%;
  height: auto;
  margin: 20px;
}

/* Fazendo a lista ocupar toda a altura disponível */
.menuLateral nav {
  flex: 1;
  width: 100%;
}

/* Garantindo que a UL ocupe toda a altura restante */
.menuLateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

/* Distribuindo os itens igualmente na altura */
.menuLateral li {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
  flex: 1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Estilizando item ativo */
.menuLateral li.active {
  background-color: black;
}

.menuLateral {
  background-color: #002C69;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  height: auto;
  margin: 20px;
}

.active {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  background-color: #001839;
}

@media (max-width: 700px) {
  .menuLateral {
    display: none;
  }
}

/* Efeito hover */
.menuLateral li:hover {
  background-color: #001839;
}

/* Responsividade */
@media (max-width: 700px) {
  .menuLateral {
    display: none;
  }
}