.graficos-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.graficos-scroll {
    max-height: 60vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    /* Removido o overflow-y para não ter scroll */
}

.grafico {
    flex: 1 1 30%;  /* Ajustado para distribuir os gráficos de forma equilibrada */
    min-width: 200px;
    height: 220.5px;   /* Altura ajustada */
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;  /* Garante que padding não afete as dimensões */
}

.grafico h3 {
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    color: #333;
}

@media (max-width: 768px) {
    .graficos-scroll {
        flex-direction: column;
    }

    .grafico {
        width: 100%; /* Garante que ocupe toda a largura em telas menores */
        height: 260px;
    }
}
