.valoresjanela {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 240px;
}

.valoresjanela h1 {
    font-size: 50px;
}