#footer {
    background-color: black;
    color: white;
    padding: 9px 0px;
    display: flex;
    gap: 10px;
}

#footer #esquerda {
    border-right: solid 2px white;
    padding: 0px 15px;
}

#footer img {
    width: 50px;
    height: auto;
    object-fit: contain;
    margin: 0 15px;
    padding: 0;
}

#footer #direita {
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
    #footer {
        flex-direction: column;
    }

    #footer #esquerda {
        border: none;
    }

    #footer #direita {
        justify-content: center;
    }
}