h1 {
  margin: 0;
  font-weight: 900;
}

p {
  margin: 0;
  text-align: justify;
}

.window {
  display: flex;
  width: 100vw;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: filter 0.3s;
  box-sizing: border-box;
}

#aux {
  padding: 20px;
  height: 100%;
}

.content.blur {
  filter: blur(5px);
  /* Agora só o conteúdo principal fica embasado */
}

#valores {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}

#info {
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0px;
}

#botaoFeedback {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#botaoFeedback:hover {
  padding: 12px;
  font-size: 15px;
  background-color: rgb(190, 9, 9);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Fundo escuro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: left;
  z-index: 1;
}

input,
textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.warning {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.modal button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.send {
  background-color: rgb(63, 63, 63);
  color: white;
}

.send:hover {
  background-color: rgb(0, 0, 0);
}

.cancel {
  background-color: white;
  color: black;
}

@media (max-width: 700px) {
  .window {
    flex-direction: column;
  }

  #valores {
    flex-direction: column;
  }

  #botaoFeedback {
    width: 100%;
  }

  .modal {
    width: 90%;
  }
}

.modal {
  background: #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: left;
  z-index: 1;
  max-width: 90%;
}